<section class="services-area ptb-100 bg-f4f6fc">
  <div class="container-fluid">

    <section class="ptb-100 bg-f4f6fc">

     

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">01</span>
                <h3>Friendly Environment</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >
                  Everyone has responsibility. Responsibility drives leadership. Everyone is a leader. We believe in “Employee Owned” operational relationship rather than “Employer Controlled Employee” working model. We enabled our work environment as equal, collaborative and diverse to establish friendly space! The energy lives here!

                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/culture/2.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-left-img">
                <img
                  src="./assets/img/culture/3.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">02</span>
                <h3>Team Work</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:18px;   !important;"
                >
                We trust in join efforts rather than individual contributions. We make our people to work as team to achieve the goals, trust each others, share food, experiences, knowledge and culture as One India!

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">03</span>
                <h3>Work-Life Balance</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >

                 Work is part of life, not work itself is our life. We don’t believe in work – life balance, we only believe that everything is Life! We provide an environment for our people to self-estimate and commit themselves on the goals rather than pushing them towards a goal within given timeline. It’s your call!

                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/culture/4.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-left-img">
                <img src="./assets/img/culture/5.jpeg" alt="image" />
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">04</span>
                <h3>Ownership</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >
                  We believe that responsibility drives great efforts. So,we consent our people to take ownership of delivery commitment based on their interest. We understand your challenges, so we give opportunities again and again until you succeed. Your Business,Project, Your Success!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">05</span>
                <h3>Quality Speaks </h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >
                  We don’t stop until we carve the quality of work! We are a strong believer of the Quality Speaks Mantra. We train our team to carve out of their talent to ship quality of work to our customers. We invest, innovate, build until we reach our quality standards. We let our products and solution speak about us!
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/culture/6.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">06</span>
                <h3>Social Responsibility</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >

                 We believe that responsibility drives great efforts. So, we consent our people to take ownership on delivery commitment based on their interest. We understand your challenges, so we give opportunities again and again until you succeed. Your Business,Project, Your Success!

                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/culture/7.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-left-img">
                <img
                  src="./assets/img/culture/1.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;height:80%;"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">07</span>
                <h3>Freedom Drives Innovation</h3>
                
<ul style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:18px;   !important;">
                  <li>
                    Trust Trust is the foundation of every relationship. We
                    believe our team more than anyone.
                  </li>

                  <li>
                    Team Work Single hand does not make noise. A team work
                    make the world better. We do.
                  </li>

                  <li>
                    Ownership The commitments comes only when there is
                    ownership. Our team takes responsibility.
                  </p>

                  <li>
                    Curiosity Innovation happens due to curiosity. We give
                    platform for curiosity and innovation.
                  </li>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>

  <div class="shape9">
    <img src="assets/img/shape/9.png" alt="image" />
  </div>
</section>