<ul class="footer-contact-info">
  <li>
    Location:
    <a
      href="https://www.google.com/maps/place/seecog+softwares/@12.950505,77.6074284,15z/data=!4m5!3m4!1s0x0:0xf12507f444878834!8m2!3d12.950505!4d77.6074284"
      target="_blank"
    >
      Site No. 26, Prestige Cube Building, Laskar, Hosur Rd, Adugodi,
      Koramangala, Bengaluru, Karnataka 560030
    </a>
  </li>

  <li>
    Email:
    <a href="mailto:info@seecogsoftwares.com">info@seecogsoftwares.com</a>
  </li>

  <li>
    Phone:
    <a href="tel:+917625067691">+91 7625067691</a>
  </li>
</ul>

<ul class="social">
  <!-- Facebook (UPDATED LINK) -->
  <li>
    <a
      href="https://www.facebook.com/profile.php?id=61585373592616&sk=about"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bx bxl-facebook"></i>
    </a>
  </li>

  <!-- WhatsApp (ADDED) -->
  <li>
    <a
      href="https://wa.me/+917348820668"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bx bxl-whatsapp"></i>
    </a>
  </li>

  <!-- Twitter (optional – keep or remove) -->
  <li>
    <a href="https://twitter.com/seecogsoftwares" target="_blank">
      <i class="bx bxl-twitter"></i>
    </a>
  </li>

  <!-- LinkedIn -->
  <li>
    <a
      href="https://www.linkedin.com/company/seecog-softwares-pvt-ltd/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bx bxl-linkedin"></i>
    </a>
  </li>
</ul>
