<ul class="footer-contact-info">
  <li>Location:
    <a
      href="https://www.google.com/maps/place/seecog+softwares/@12.950505,77.6074284,15z/data=!4m5!3m4!1s0x0:0xf12507f444878834!8m2!3d12.950505!4d77.6074284"
      target="_blank"
    >Site No. 26, Prestige Cube Building, Laskar, Hosur Rd, Adugodi, Koramangala, Bengaluru, Karnataka 560030</a></li>
  <li>Email:
    <a href="mailto:info@seecogsoftwares.com">info@seecogsoftwares.com</a></li>
  <li>Phone: <a href="tel:+321754754">+91 8147614116</a></li>
</ul>

<ul class="social">
  <li><a
      href="https://www.facebook.com/Seecog-Softwares-Pvt-Ltd-104466532038084 "
      target="_blank"
    ><i class="bx bxl-facebook"></i></a></li>
  <li><a href="https://twitter.com/seecogsoftwares" target="_blank"><i
        class="bx bxl-twitter"
      ></i></a></li>
  <li><a
      href="https://www.linkedin.com/company/seecog-softwares-pvt-ltd/"
      target="_blank"
    ><i class="bx bxl-linkedin"></i></a></li>
</ul>