<footer class="footer-area">
            <div class="divider"></div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/sm_logo.jpg" alt="image" style="width:100px;height:100px;border:1px solid white;border-radius:50px;padding:10px;"></a>
                            </div>
                            <p>
                                Seecog softwares Pvt Ltd is an innovation services firm with dedicated focus in developing commercial technology solutions for firms in the technology sector such as , SaaS providers, e-business , e-learning , healthcare and e-commerce organizations
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Company</h3>

                            <ul class="services-list">
                                <li><a href="/">Home</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/industries">Industries</a></li>
                                <li><a href="/technologies">Technologies</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact us</a></li>
                            </ul>
                        </div>
                    </div>

                    {{!-- <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Our Products</h3>

                            <ul class="support-list" style="font-family:Segoe UI Bold;font-size:19px;">
                                <li><a href="faq.html">School Management System</a></li>
                                <li><a href="#">Hotel Management System</a></li>
                                <li><a href="#">Hospital Management System</a></li>
                                <li><a href="about.html">Project Management System</a></li>
                            </ul>
                        </div>
                    </div> --}}

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Our Commitment</h3>

                            <ul class="support-list" style="font-family:Segoe UI Bold;font-size:19px;">
                                <li>Quality Assurance</li>
                                <li>Client Focus</li>
                                <li>Dedicated Teams</li>
                                <li>Projects Within Deadline</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact Info</h3>

                            {{> details}}
                        </div>
                    </div>
                </div>

            </div>
        </footer>