        <section class="services-area ptb-100 bg-f4f6fc">
            <div class="container-fluid">

<section class="ptb-100 bg-f4f6fc">
            {{!-- <div class="container">
                <div class="section-title">
                    <h2 class="mb-2">Banking & Finance</h2>
                    <p>In an industry which demands security, great customer experience and complex system architecture - we’ve delivered it all. Our partnerships with legacy banking institutions, new-age fintech companies and more span web, mobile, kiosk and wearable solution touching millions of customers every day.</p>
                </div>
            </div> --}}

            <div class="overview-item">
                <div class="container max-width-1290">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="overview-left-img">
                                <img src="./assets/img/bank.jpg" alt="image" style="border:1px solid #eeeeee;border-radius:10px;">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="overview-content pl-4">
                                <span class="number">01</span>
                                <h3>Banking & Finance</h3>
                                <p style="font-family:georgia;font-size:18px; important!">In an industry which demands security, great customer experience and complex system architecture - we’ve delivered it all. Our partnerships with legacy banking institutions, new-age fintech companies and more span web, mobile, kiosk and wearable solution touching millions of customers every day.</p>
                                <ul>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Unique Design
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Unimited Video Call
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Add Favourite contact
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Camera Filter
                                    </li>
                                </ul>
                                {{!-- <a href="#" class="default-btn black-btn">
                                    <i class='bx bxs-arrow-to-right'></i>
                                    Read More 
                                    <span></span>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overview-item">
                <div class="container max-width-1290">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="overview-content pl-3">
                                <span class="number">02</span>
                                <h3>Retail & E-commerce</h3>
                                <p style="font-family:georgia;font-size:18px; important!">The digital revolution re-defined retail and e-commerce.The post pandemic world has accelerated the adoption of digital and opened new opportunities for ‘delivery as a service’. We understand that it takes more than a pretty design to deliver flawless customer experience for enterprises in this segment.</p>
                                <ul>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Mordan Design
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Unimited Video Call
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Add Favourite contact
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Camera Filter
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Outdated Comments
                                    </li>
                                </ul>
                                {{!-- <a href="#" class="default-btn black-btn">
                                    <i class='bx bxs-arrow-to-right'></i>
                                    Read More 
                                    <span></span>
                                </a> --}}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="overview-right-img">
                                <img src="./assets/img/retail.jpg" alt="image" style="border:1px solid #eeeeee;border-radius:10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overview-item">
                <div class="container max-width-1290">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="overview-left-img">
                                <img src="./assets/img/media.png" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="overview-content pl-3">
                                <span class="number">03</span>
                                <h3>Media & Entertainment </h3>
                                <p style="font-family:georgia;font-size:18px; important!">At Seecog softwares, we were among the first to craft delightful OTT experiences across platforms and devices. Well before the COVID-19 pandemic made streaming a popular category, we partnered with several global brands in media & entertainment and continue to work with them, on products making waves across the world.</p>
                                <ul>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Professional Code
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Unimited Video Call
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Add Favourite contact
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Camera Filter
                                    </li>
                                    <li>
                                        <i class='bx bx-badge-check'></i>
                                        Start Coding Format
                                    </li>
                                </ul>
                                {{!-- <a href="#" class="default-btn black-btn">
                                    <i class='bx bxs-arrow-to-right'></i>
                                    Read More 
                                    <span></span> --}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overview-item">
                <div class="container max-width-1290">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="overview-left-img">
                                <img src="./assets/img/health.jpg" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="overview-content pl-3">
                                <span class="number">04</span>
                                <h3>Healthcare </h3>
                                <p style="font-family:georgia;font-size:18px; important!">Our highly differentiated set of Healthcare solutions are trusted by the industry-leading enterprise as well as small & medium companies, alike!.</p>
                                <ul>
                                    <li>
                                        <i class="bx bx-badge-check"></i>
                                        Integrated Healthcare Platform
                                    </li>
                                    <li>
                                        <i class="bx bx-badge-check"></i>
                                        Comprehensive Risk Management
                                    </li>
                                    <li>
                                        <i class="bx bx-badge-check"></i>
                                        Next Generation Analytics
                                    </li>
                                    <li>
                                        <i class="bx bx-badge-check"></i>
                                        Seamless Integrations
                                    </li>
                                    <li>
                                        <i class="bx bx-badge-check"></i>
                                        Intuitive User Interface
                                    </li>
                                </ul>

                                {{!-- <a href="#" class="default-btn black-btn">
                                    <i class='bx bxs-arrow-to-right'></i>
                                    Read More 
                                    <span></span> --}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        </div>

            <div class="shape9">
                <img src="assets/img/shape/9.png" alt="image">
            </div>
        </section>