<section class="services-area ptb-100 bg-f4f6fc">
  <div class="container-fluid">

    <section class="ptb-100 bg-f4f6fc">
      {{! <div class="container">
                <div class="section-title">
                    <h2 class="mb-2">Banking & Finance</h2>
                    <p>In an industry which demands security, great customer experience and complex system architecture
                        - we’ve delivered it all. Our partnerships with legacy banking institutions, new-age fintech
                        companies and more span web, mobile, kiosk and wearable solution touching millions of customers
                        every day.</p>
                </div>
            </div> }}

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-left-img">
                <img
                  src="./assets/img/iot_stretegy.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">01</span>
                <h3>IoT Strategy Consulting</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:18px;   !important;"
                >Are you ready for IoT? Internet of Things is not a buzzword
                  anymore, many enterprises are investing in Industrial IoT
                  technologies to get access to their business and production
                  operations. However IoT is a complex and deep technology which
                  requires significant investment; But before investment, you
                  should assess the ROI of your investment. We are here to help
                  you to assess your readiness and predict the ROI. Reach us for
                  best results.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">02</span>
                <h3>IoT Implementation</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >
                  Innovation is the key in IoT implementation, take advantage of
                  our innovation expertise to design your unique solutions.
                  There are many IoT platforms, devices and communication
                  networks available, but not all are the same. You need to pick
                  and choose the best device, connectivity and cloud platform
                  for best results. We strongly recommend you to invest small
                  amount of efforts in prototyping the best IoT solution before
                  direct major investment. Our IoT expertise is available to
                  help you. Make a better choice.

                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/iot_implement.jpeg"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-left-img">
                <img
                  src="./assets/img/s1.png"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">01</span>
                <h3>Website Design & Development</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:18px;   !important;"
                >Running a business in itself is a big achievement. They say all
                  you need is a great, brand new idea. However, is it really all
                  you need? Can you make profits just out of the generation of
                  an idea? At
                  <b>seecog softwares</b>, we definitely do not think so. Being
                  a leading web and mobile app development company in Bangalore,
                  we know that an idea needs to reach the right people in order
                  to work. Often, businessmen understand this too. However, they
                  are in a dilemma of ‘how’ to make the idea reach its target
                  market. Therefore, this is where the biggest question comes
                  up. Do you have a great business website or even a business
                  website at all? We develop your ideas into fulfilled dreams If
                  you do not have a business website then let us stop you right
                  there and tell you as politely as we can that your business is
                  not going to be a successful one. It is imperative for your
                  business to have a great online presence since the entire
                  world is now online.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">02</span>
                <h3>Mobile Application Development</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >

                  With a rising inclination towards time-saving and convenient
                  solutions, you cannot stay away from mobile applications for
                  long. Whether it is a customer-centric app or a mobile
                  application that boosts the operational efficiency of your
                  business, we can develop it all for you. We are an
                  award-winning mobile app and web development company in
                  Indore. We offer a proven track record of value-added mobile
                  solutions for society, industries, organizations, and
                  administrative departments. If you are thinking that a mobile
                  website completely meets your purpose than you might miss the
                  opportunity of being right into your customer’s pocket while
                  giving them ease of communication at the same time.

                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/s4.png"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-left-img">
                <img src="./assets/img/s5.png" alt="image" />
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">03</span>
                <h3>SEO (Search engine optimization)</h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >
                  The most effective way to drive visitors to your website at
                  the lowest cost is to build your website’s organic search
                  engine ranking. Search Engine Optimization (SEO) is an
                  effective tool for improving the volume and quality of traffic
                  to your website. Some of the most important elements for
                  search engine optimization happen on your own website. You may
                  hear a lot about link building (which we will get to in just a
                  moment), but link building without good on-site search
                  optimization isn’t going to be as effective.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="overview-item">
        <div class="container max-width-1290">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="overview-content pl-3">
                <span class="number">02</span>
                <h3>Digital marketing </h3>
                <p
                  style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:19px;   !important;"
                >
                  Social media are computer-mediated technologies that
                  facilitate the creation and sharing of information, ideas,
                  career interests and other forms of expression via virtual
                  communities and networks. Social media marketing refers to the
                  process of gaining traffic or attention through social media
                  sites. Social media often feeds into the discovery of new
                  content such as news stories, and “discovery” is a search
                  activity. Social media can also help build links that in turn
                  support into SEO efforts. Many people also perform searches at
                  social media sites to find social media content. Social
                  connections may also impact the relevancy of some search
                  results, either within a social media network or at a
                  ‘mainstream’ search engine. Facebook Instagram Twitter
                  Pinterest Linkedin YouTube
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="overview-right-img">
                <img
                  src="./assets/img/s6.png"
                  alt="image"
                  style="border:1px solid #eeeeee;border-radius:10px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>

  <div class="shape9">
    <img src="assets/img/shape/9.png" alt="image" />
  </div>
</section>