# Dependencies
node_modules/
node_modules
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local
properties.env

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Temp
tmp/

# Uploads
uploads/
public/careers/

# Build
dist/
build/
*.tgz

# Optional
*.pid
*.seed
.npm
