<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Login - Seecog Softwares</title>
  <link rel="icon" href="/assets/img/sm_logo.jpg">
  <link rel="stylesheet" href="/assets/css/admin-login.css">
</head>
<body class="admin-login-screen">
  {{{body}}}
</body>
</html>
