<!doctype html>
<html lang="eng">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- BoxIcons Min CSS -->
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Mobile Menu CSS - New Custom Design -->
        <link rel="stylesheet" href="assets/css/mobile-menu.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>seecog softwares</title>

        <link rel="icon" type="image/png" href="./assets/img/sm_logo.jpg">
    </head>

    <body>

      

        <!-- New Mobile Menu Wrapper -->
        <div class="mobile-menu-wrapper">
            <!-- Hamburger Toggle Button -->
            <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle mobile menu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <!-- Overlay -->
            <div class="mobile-menu-overlay" id="mobileMenuOverlay"></div>

            <!-- Menu Panel -->
            <div class="mobile-menu-panel" id="mobileMenuPanel">
                <!-- Menu Header -->
                <div class="mobile-menu-header">
                    <div class="logo">
                        <a href="/">
                            <img src="./assets/img/sm_logo.jpg" alt="logo">
                        </a>
                        <span class="logo-text">Seecog Softwares</span>
                    </div>
                </div>

                <!-- Menu Navigation -->
                <nav class="mobile-menu-nav">
                    <ul>
                        <li>
                            <a href="/" class="nav-link">
                                <i class='bx bx-home'></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/services" class="nav-link">
                                <i class='bx bx-briefcase'></i>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="/industries" class="nav-link">
                                <i class='bx bx-building'></i>
                                <span>Industries</span>
                            </a>
                        </li>
                        <li>
                            <a href="/portfolio" class="nav-link">
                                <i class='bx bx-folder'></i>
                                <span>Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a href="/my-digital-card" class="nav-link">
                                <i class='bx bx-id-card'></i>
                                <span>My Digital Card</span>
                            </a>
                        </li>
                        <li>
                            <a href="/culture" class="nav-link">
                                <i class='bx bx-group'></i>
                                <span>Our Culture</span>
                            </a>
                        </li>
                        <li>
                            <a href="/careers" class="nav-link">
                                <i class='bx bx-briefcase-alt-2'></i>
                                <span>Careers</span>
                            </a>
                        </li>
                        <li>
                            <a href="/partners" class="nav-link">
                                <i class='bx bx-handshake'></i>
                                <span>Partners</span>
                            </a>
                        </li>
                        <li>
                            <a href="/contact" class="nav-link">
                                <i class='bx bx-envelope'></i>
                                <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Menu Footer -->
                <div class="mobile-menu-footer">
                    <div class="social-links">
                        <a href="#" aria-label="Facebook"><i class='bx bxl-facebook'></i></a>
                        <a href="#" aria-label="Twitter"><i class='bx bxl-twitter'></i></a>
                        <a href="#" aria-label="LinkedIn"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" aria-label="Instagram"><i class='bx bxl-instagram'></i></a>
                    </div>
                    <div class="copyright">
                        <p>&copy; 2024 Seecog Softwares. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-style-two">
            <div class="strax-responsive-nav">
                <div class="container">
                    <div class="strax-responsive-menu">
                        <div class="logo">
                            <a href="/">
                                <img src="./assets/img/sm_logo.jpg" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="strax-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="./assets/img/sm_logo.jpg" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            {{> menu}}
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start Page Title Area -->
        <div class="page-title-area">
            {{!-- <div class="container"> --}}
                <div class="page-title-content">
                    <h2>{{data.title}}</h2>
                    {{!-- <p>{{data.subTitle}}</p> --}}
                </div>
            {{!-- </div> --}}
        </div>
        <!-- End Page Title Area -->

        <!-- Start Contact Area -->
    
        {{{body}}}
        <!-- End Contact Area -->

        <!-- Start Our Loving Clients Area -->
        {{!-- <section class="our-loving-clients ptb-100 bg-f4f5fe">
            <div class="container">
                <div class="section-title">
                    <h2>Our Loving Clients</h2>
                </div>

                <div class="clients-logo-list align-items-center">
                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/1.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/2.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/3.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/4.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/5.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/6.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/7.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/8.png" alt="image">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/clients-image/9.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </section> --}}
        <!-- End Our Loving Clients Area -->

        <!-- Start Footer Area -->
        {{> footer}}
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-chevron-up'></i></div>
        
        <!-- jQuery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Appear Min JS -->
        <script src="assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- MeanMenu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Mobile Menu JS - New Custom Menu -->
        <script src="assets/js/mobile-menu.js"></script>
        <!-- WOW Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Message Conversation JS -->
        <script src="assets/js/conversation.js"></script>
        <!-- AjaxChimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Particles Min JS -->
        <script src="assets/js/particles.min.js"></script>
        <script src="assets/js/coustom-particles.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </body>
</html>