<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name=”description” content="seecog softwares is an innovation services firm with dedicated focus in developing commercial technology solutions for firms in the technology sector such as , SaaS providers, e-business , e-learning , healthcare and e-commerce organizations">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Permanent+Marker&display=swap" rel="stylesheet">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- BoxIcons Min CSS -->
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Mobile Menu CSS - New Custom Design -->
        <link rel="stylesheet" href="assets/css/mobile-menu.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>seecog softwares</title>

        <link rel="icon" type="image/png" href="assets/img/logo.jpg">
    </head>

    <body>
        <!-- Start Preloader Area -->
       

        <!-- New Mobile Menu Wrapper -->
        <div class="mobile-menu-wrapper">
            <!-- Hamburger Toggle Button -->
            <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle mobile menu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <!-- Overlay -->
            <div class="mobile-menu-overlay" id="mobileMenuOverlay"></div>

            <!-- Menu Panel -->
            <div class="mobile-menu-panel" id="mobileMenuPanel">
                <!-- Menu Header -->
                <div class="mobile-menu-header">
                    <div class="logo">
                        <a href="/">
                            <img src="./assets/img/sm_logo.jpg" alt="logo">
                        </a>
                        <span class="logo-text">Seecog Softwares</span>
                    </div>
                </div>

                <!-- Menu Navigation -->
                <nav class="mobile-menu-nav">
                    <ul>
                        <li>
                            <a href="/" class="nav-link">
                                <i class='bx bx-home'></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/services" class="nav-link">
                                <i class='bx bx-briefcase'></i>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="/industries" class="nav-link">
                                <i class='bx bx-building'></i>
                                <span>Industries</span>
                            </a>
                        </li>
                        <li>
                            <a href="/our-products" class="nav-link">
                                <i class='bx bxs-star'></i>
                                <span>Our Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="/portfolio" class="nav-link">
                                <i class='bx bx-folder'></i>
                                <span>Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a href="/my-digital-card" class="nav-link">
                                <i class='bx bx-id-card'></i>
                                <span>My Digital Card</span>
                            </a>
                        </li>
                        <li>
                            <a href="/culture" class="nav-link">
                                <i class='bx bx-group'></i>
                                <span>Our Culture</span>
                            </a>
                        </li>
                        <li>
                            <a href="/careers" class="nav-link">
                                <i class='bx bx-briefcase-alt-2'></i>
                                <span>Careers</span>
                            </a>
                        </li>
                        <li>
                            <a href="/partners" class="nav-link">
                                <i class='bx bx-handshake'></i>
                                <span>Partners</span>
                            </a>
                        </li>
                        <li>
                            <a href="/contact" class="nav-link">
                                <i class='bx bx-envelope'></i>
                                <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Menu Footer -->
                <div class="mobile-menu-footer">
                    <div class="social-links">
                        <a href="#" aria-label="Facebook"><i class='bx bxl-facebook'></i></a>
                        <a href="#" aria-label="Twitter"><i class='bx bxl-twitter'></i></a>
                        <a href="#" aria-label="LinkedIn"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" aria-label="Instagram"><i class='bx bxl-instagram'></i></a>
                    </div>
                    <div class="copyright">
                        <p>&copy; 2024 Seecog Softwares. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-area navbar-style-two">
            <div class="strax-responsive-nav">
                <div class="container">
                    <div class="strax-responsive-menu">
                        <div class="logo">
                            <a href="/">
                                <img src="./assets/img/sm_logo.jpg" class="responsive-logo" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="strax-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="./assets/img/sm_logo.jpg" class="main-logo" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            {{> menu}}
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start SaaS Main Banner -->
		<div class="saas-banner">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container max-width-1290">
						<div class="row align-items-center pt-5">
							<div class="col-lg-6 col-md-12">
								<div class="saas-image mt-70">

<div class="banner">
        <div>
            <h6>End-to-End Software Engineering, Consulting & IT Staffing Solutions</h6>
            {{!-- <span>Empowering Tomorrow</span> --}}
        </div>
    </div>

<div class="grid-container">
        {{!-- <div class="grid-title">
            Industries 
            <span>by seecog softwares</span>
        </div> --}}
        <div class="grid-item">
            <i class="fas fa-hospital"></i>
            <span>Healthcare</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-money-bill-wave"></i>
            <span>Finance</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-shopping-cart"></i>
            <span>Retail</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-graduation-cap"></i>
            <span>Education</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-industry"></i>
            <span>Manufacturing</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-truck"></i>
            <span>Transportation</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-bolt"></i>
            <span>Energy</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-building"></i>
            <span>Real Estate</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-landmark"></i>
            <span>Government</span>
        </div>
        <div class="grid-item">
            <i class="fas fa-wifi"></i>
            <span>Telecom</span>
        </div>
    </div>


									{{!-- <img src="assets/img/saas-shape/arrow.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="arrow">
									<img src="assets/img/saas-shape/box1.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="box1">
									<img src="assets/img/saas-shape/boy1.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="boy1">
									<img src="assets/img/saas-shape/boy2.png" class="wow zoomIn" data-wow-delay="0.6s" alt="boy2">
									<img src="assets/img/saas-shape/boy3.png" class="wow bounceIn" data-wow-delay="0.6s" alt="boy3">
									<img src="assets/img/saas-shape/digital-screen.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="digital-screen">
									<img src="assets/img/saas-shape/filter1.png" class="wow zoomIn" data-wow-delay="0.6s" alt="filter1">
									<img src="assets/img/saas-shape/filter2.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="filter2">
									<img src="assets/img/saas-shape/filter3.png" class="wow rotateIn" data-wow-delay="0.6s" alt="filter3">
									<img src="assets/img/saas-shape/girl1.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="girl1">
									<img src="assets/img/saas-shape/girl2.png" class="wow zoomIn" data-wow-delay="0.6s" alt="girl2">
									<img src="assets/img/saas-shape/monitor.png" class="wow zoomIn" data-wow-delay="0.6s" alt="monitor">

                                    <!-- Main image -->
									<img src="assets/img/saas-shape/main-image.png" class="wow zoomIn" data-wow-delay="0.6s" alt="main-image.png"> --}}
								</div>
							</div>

							<div class="col-lg-6 col-md-12">
								<div class="hero-content pl-4">
									{{!-- <h5>Cloud Solutions + Artificial Intelligence (AI) and Machine Learning (ML) + Data Science and Big Data + Mobile App Development + Web Development + Cybersecurity + DevOps and Automation + Blockchain Technology + Internet of Things (IoT) + Augmented Reality (AR) and Virtual Reality (VR) + Robotic Process Automation (RPA) + Game Development ..</h5> --}}
                        <div class="services-banner">
        <ul>
            {{!-- <li><i class="fas fa-cloud"></i> Our Solutions : </li> --}}
            <li><i class="fas fa-cloud"></i> Cloud Solutions</li>
            <li><i class="fas fa-robot"></i> Artificial Intelligence (AI) and Machine Learning (ML)</li>
            <li><i class="fas fa-database"></i> Data Science and Big Data</li>
            <li><i class="fas fa-mobile-alt"></i> Mobile App Development</li>
            <li><i class="fas fa-code"></i> Web Development</li>
            <li><i class="fas fa-shield-alt"></i> Cybersecurity</li>
            <li><i class="fas fa-cogs"></i> DevOps and Automation</li>
            <li><i class="fas fa-link"></i> Blockchain Technology</li>
            <li><i class="fas fa-wifi"></i> Internet of Things (IoT)</li>
            <li><i class="fas fa-vr-cardboard"></i> Augmented/Virtual Reality (AR) / (VR)</li>
            <li><i class="fas fa-cogs"></i> Robotic Process Automation (RPA)</li>
            {{!-- <li><i class="fas fa-gamepad"></i> Game Development</li> --}}
        </ul>
    </div>
                                    {{!-- <p>10 years of experience in custom software development services, 50+ successfully released cases, 50+ tech experts.
Seecog softwares will help you to design, develop, and implement any custom software based on your ideas and needs.We belive in innovations
.</p> --}}
                                    
                                    {{!-- <div class="banner-btn">
                                        Seecog softwares has a number of case studies detailing the successful software development projects on which we have collaborated with our clients. We are proud of the work our project teams do and happy to be trusted by the businesses.
                                    </div> --}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="shape-rotate rotateme">
                <img src="assets/img/saas-shape/shape-rotate.png" alt="img">
            </div>

            <div id="particles-js"></div>
		</div>
		<!-- End SaaS Main Banner -->
        

        <!-- Start Services Area -->
        {{!-- <section class="services-area ptb-100"> --}}
            {{!-- <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="services-image">
                        <div class="image">
                            <img src="assets/img/home-saas/feature1.png" alt="image">
                        </div>
                    </div>

                    <div class="services-content it-service-content">
                        <div class="content">
                            <div class="features-inner-content">
								<div class="features-item">
									<i class='bx bx-phone-call bg-13c4a1 blt-radius-0'></i>
									<h3>Industries</h3>
									<p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
								</div>

								<div class="features-item">
									<i class='bx bx-gift bg-6610f2 blt-radius-0'></i>
									<h3>Daily Free Gift</h3>
									<p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
								</div>

								<div class="features-item">
									<i class='bx bx-code-alt bg-ff612f blt-radius-0'></i>
									<h3>QR Code Scaner</h3>
									<p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div> --}}
{{!-- 
            <div class="shape9">
                <img src="assets/img/shape/9.png" alt="image">
            </div> --}}
        {{!-- </section> --}}
        <!-- End Services Area -->
 
        {{> industries}}
{{!-- {{{body}}} --}}

        {{> services}}

        {{> culture}}

        <!-- Start Video Presentation Area -->
        {{!-- <section class="video-presentation-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Why choose us to watch this video know more</h2>
                </div>

                <div class="video-box">
                    <img src="./assets/img/MediumSquareLogo.jpg" class="main-image" alt="image">

                    <a href="https://www.youtube.com/watch?v=zGtSfoQw2PY" class="video-btn popup-youtube">
                        <i class="bx bx-play"></i>
                    </a>

                    <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
                    <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
                    <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
                    <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
                    <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
                    <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
                </div>

                <div class="funfacts-inner">
                    <div class="row">
                        <div class="col-lg-3 col-6 col-sm-6">
                            <div class="single-funfacts funfact-style-two">
                                <i class='bx bx-smile'></i>
                                <h3>
                                    <span class="odometer" data-count="850">00</span>
                                    <span class="sign-icon">+</span>
                                </h3>
                                <p>Satisfied Client</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6 col-sm-6">
                            <div class="single-funfacts funfact-style-two">
                                <i class='bx bxs-star'></i>
                                <h3>
                                    <span class="odometer" data-count="850">00</span>
                                    <span class="sign-icon">+</span>
                                </h3>
                                <p>Appreciation</p>
                            </div>
                        </div>
 
                        <div class="col-lg-3 col-6 col-sm-6">
                            <div class="single-funfacts funfact-style-two">
                                <i class='bx bx-time-five' ></i>
                                <h3>
                                    <span class="odometer" data-count="120">00</span>
                                    <span class="sign-icon">K</span>
                                </h3>
                                <p>Response Time</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6 col-sm-6">
                            <div class="single-funfacts funfact-style-two">
                                <i class='bx bx-data'></i>
                                <h3>
                                    <span class="odometer" data-count="100">00</span>
                                    <span class="sign-icon">M</span>
                                </h3>
                                <p>Data Entry</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-cta-box mwidth-1000">
                    <h3>Have any question about us?</h3>
                    <p>Don't hesitate to contact us.</p>
                    <a href="contact.html" class="default-btn">
                        <i class="bx bxs-edit-alt"></i>
                        Contact Us
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="shape-map1"><img src="assets/img/map1.png" alt="image"></div>
            <div class="shape7"><img src="assets/img/shape/7.png" alt="image"></div>
            <div class="shape8"><img src="assets/img/shape/8.png" alt="image"></div>
            <div class="shape9"><img src="assets/img/shape/9.png" alt="image"></div>
        </section> --}}
        <!-- End Video Presentation Area -->

        <!-- Start Services Area -->
        
        <!-- End Services Area -->
 
        <!-- Start Feedback Area -->
        {{!-- <section class="feedback-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Whats Our Clients Said About <span>Strax</span></h2>
                </div>

                <div class="feedback-slides owl-carousel owl-theme">
                    <div class="single-feedback-item">
                        <img src="assets/img/woman1.png" alt="image">

                        <div class="feedback-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>

                            <div class="client-info">
                                <h3>Sarah Taylor</h3>
                                <span>CEO at Envato</span>
                            </div>
                        </div>
                    </div>

                    <div class="single-feedback-item">
                        <img src="assets/img/woman2.png" alt="image">

                        <div class="feedback-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>

                            <div class="client-info">
                                <h3>Olivar Lucy</h3>
                                <span>CEO at EnvyTheme</span>
                            </div>
                        </div>
                    </div>

                    <div class="single-feedback-item">
                        <img src="assets/img/man1.png" alt="image">

                        <div class="feedback-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>

                            <div class="client-info">
                                <h3>Steven Smith</h3>
                                <span>CEO at Envato</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}
        <!-- Start Feedback Area -->

        <!-- Start Pricing Area -->
        {{!-- <section class="pricing-area pt-100 pb-70 bg-f4f5fe">
            <div class="container">
                <div class="section-title">
                    <h2>Choose The Pricing Plan</h2>
                </div>

                <div class="tab pricing-list-tab">
                    <ul class="tabs">
                        <li>
                            <a href="#">
                                <i class="bx bxs-calendar-check"></i> Monthly
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxs-calendar-check"></i> Yearly
                            </a>
                        </li>
                    </ul>

                    <div class="tab_content">
                        <div class="tabs_item">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-pricing-table left-align">
                                        <div class="pricing-header">
                                            <h3>Free</h3>
                                        </div>

                                        <div class="price">
                                            <sup>$</sup>0 <sub>/ monthly</sub>
                                        </div>

                                        <ul class="pricing-features">
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Up to 3 chat operators 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                100 ChatBot Triggers
                                            </li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                24/7 Live Chat
                                            </li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Email Integration 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Messenger Integration</li>
                                            <li><i class="bx bxs-badge-check"></i> Visitor Info</li>
                                            <li><i class="bx bxs-badge-check"></i> Mobile + Desktop Apps</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Quick Responses 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Drag & Drop Widgets</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Visitor Notes 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Google Analytics</li>
                                        </ul>

                                        <div class="btn-box">
                                            <a href="#" class="default-btn">
                                                <i class="bx bxs-hot"></i> 
                                                Try It Free Now 
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="single-pricing-table left-align">
                                        <div class="pricing-header">
                                            <h3>Starter</h3>
                                        </div>

                                        <div class="price">
                                            <sup>$</sup>49 <sub>/ monthly</sub>
                                        </div>

                                        <ul class="pricing-features">
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Up to 4 chat operators 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> 150 ChatBot Triggers</li>
                                            <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Email Integration 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Messenger Integration</li>
                                            <li><i class="bx bxs-badge-check"></i> Visitor Info</li>
                                            <li><i class="bx bxs-badge-check"></i> Mobile + Desktop Apps</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Quick Responses 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Drag & Drop Widgets</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Visitor Notes 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Google Analytics</li>
                                        </ul>

                                        <div class="btn-box">
                                            <a href="#" class="default-btn">
                                                <i class="bx bxs-hot"></i> 
                                                Try It Free Now 
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                    <div class="single-pricing-table left-align">
                                        <div class="pricing-header">
                                            <h3>Professional</h3>
                                        </div>

                                        <div class="price">
                                            <sup>$</sup>79<sub> / monthly</sub>
                                        </div>

                                        <ul class="pricing-features">
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Up to 5 chat operators 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> 200 ChatBot Triggers</li>
                                            <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Email Integration 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Messenger Integration</li>
                                            <li><i class="bx bxs-badge-check"></i> Visitor Info</li>
                                            <li><i class="bx bxs-badge-check"></i> Mobile + Desktop Apps</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Quick Responses 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Drag & Drop Widgets</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Visitor Notes 
                                                <span class="tooltips bx bxs-info-circle"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Google Analytics</li>
                                        </ul>

                                        <div class="btn-box">
                                            <a href="#" class="default-btn">
                                                <i class="bx bxs-hot"></i> 
                                                Try It Free Now 
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_item">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-pricing-table left-align">
                                        <div class="pricing-header">
                                            <h3>Free</h3>
                                        </div>

                                        <div class="price">
                                            <sup>$</sup>0 <sub>/ yearly</sub>
                                        </div>

                                        <ul class="pricing-features">
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Up to 5 chat operators 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> 150 ChatBot Triggers</li>
                                            <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Email Integration
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Messenger Integration</li>
                                            <li><i class="bx bxs-badge-check"></i> Visitor Info</li>
                                            <li><i class="bx bxs-badge-check"></i> Mobile + Desktop Apps</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Quick Responses 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Drag & Drop Widgets</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Visitor Notes <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Google Analytics</li>
                                        </ul>

                                        <div class="btn-box">
                                            <a href="#" class="default-btn">
                                                <i class="bx bxs-hot"></i> 
                                                Try It Free Now 
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="single-pricing-table left-align">
                                        <div class="pricing-header">
                                            <h3>Starter</h3>
                                        </div>

                                        <div class="price">
                                            <sup>$</sup>79 <sub>/ yearly</sub>
                                        </div>

                                        <ul class="pricing-features">
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Up to 6 chat operators 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> 200 ChatBot Triggers</li>
                                            <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Email Integration 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Messenger Integration</li>
                                            <li><i class="bx bxs-badge-check"></i> Visitor Info</li>
                                            <li><i class="bx bxs-badge-check"></i> Mobile + Desktop Apps</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Quick Responses 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Drag & Drop Widgets</li>
                                            <li>
                                                <i class="bx bxs-badge-check"></i> 
                                                Visitor Notes 
                                                <span class="tooltips bx bxs-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Tight pants next level keffiyeh you probably haven't heard of them."></span>
                                            </li>
                                            <li><i class="bx bxs-badge-check"></i> Google Analytics</li>
                                        </ul>

                                        <div class="btn-box">
                                            <a href="#" class="default-btn">
                                                <i class="bx bxs-hot"></i> 
                                                Try It Free Now 
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                    {{> menu}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}
        <!-- End Pricing Area -->

        <!-- Start FAQ Area -->
        {{!-- <section class="faq-area ptb-100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="faq-accordion">
                            <h2>Get to know about <span>Strax</span></h2>

                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        What access do I have on the free plan?
                                    </a>

                                    <p class="accordion-content show">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        What access do I have on a free trial?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        Does the price go up as my team gets larger?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        How can I cancel/pause my subscription?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        Can I pay via an invoice?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="faq-image">
                            <img src="assets/img/faq-img1.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}
        <!-- End FAQ Area -->
 
        <!-- Start Our Loving Clients Area -->
        <section class="our-loving-clients ptb-100 bg-f4f5fe">
            <div class="container">
                <div class="section-title">
                    <h2>Our Technology Stack</h2>
                </div>

                <div class="clients-logo-list align-items-center">
                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/react.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/angular.png" alt="image" class="tech-logo">
                        </a>
                    </div>


                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/blockchain.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/java.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/python.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/android.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/ios.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/ml.png" alt="image" class="tech-logo">
                        </a>
                    </div>

                    <div class="single-clients-logo">
                        <a href="#">
                            <img src="assets/img/technologies/ai.png" alt="image" class="tech-logo">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Loving Clients Area -->

        <!-- Start Free Trial Area -->
        <section class="free-trial-area pb-100 bg-f4f5fe">
            <div class="container">
                <div class="free-trial-content">
                    <h2>We always try to be the best IT solution to you as possible</h2>
                    {{!-- <p>Qualify your leads & recognize the value of word your customer will love you</p> --}}

                    {{!-- <a href="contact.html" class="default-btn">
                        <i class="bx bxs-hot"></i> 
                        Get Started Free
                        <span></span>
                    </a> --}}
                </div>
            </div>

            <div class="shape10"><img src="assets/img/shape/10.png" alt="image"></div>
            <div class="shape11"><img src="assets/img/shape/7.png" alt="image"></div>
            <div class="shape12"><img src="assets/img/shape/11.png" alt="image"></div>
            <div class="shape13"><img src="assets/img/shape/12.png" alt="image"></div>
        </section>
        <!-- End Free Trial Area -->

        <!-- Start Footer Area -->
        {{> footer}}
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-chevron-up'></i></div>
        
        <script>
        const industries = [
            "Healthcare",
            "Finance",
            "Retail",
            "Education",
            "Manufacturing",
            "Transportation",
            "Energy",
            "Real Estate",
            "Government",
            "Telecom"
        ];

        const canvas = document.getElementById("industryCanvas");
        const ctx = canvas.getContext("2d");
        const centerX = canvas.width / 2;
        const centerY = canvas.height / 2;
        const radius = 200;
        const textRadius = 240;

        // Draw the circular banner
        function drawBanner() {
            // Draw outer circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI);
            ctx.fillStyle = "#cce7ff";
            ctx.fill();
            ctx.lineWidth = 5;
            ctx.strokeStyle = "#80bfff";
            ctx.stroke();
        }

        // Draw industries in a circular layout
        function drawIndustries() {
            const angleStep = (2 * Math.PI) / industries.length;
            ctx.font = "16px Poppins";
            ctx.fillStyle = "#333";
            ctx.textAlign = "center";
            ctx.textBaseline = "middle";

            industries.forEach((industry, index) => {
                const angle = index * angleStep - Math.PI / 2; // Offset to start from top
                const x = centerX + textRadius * Math.cos(angle);
                const y = centerY + textRadius * Math.sin(angle);

                // Draw industry text
                ctx.save();
                ctx.translate(x, y);
                ctx.rotate(angle + Math.PI / 2);
                ctx.fillText(industry, 0, 0);
                ctx.restore();
            });
        }

        // Draw all elements
        function drawCanvas() {
            drawBanner();
            drawIndustries();
        }

        drawCanvas();
    </script>
        <!-- jQuery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Appear Min JS -->
        <script src="assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- MeanMenu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Mobile Menu JS - New Custom Menu -->
        <script src="assets/js/mobile-menu.js"></script>
        <!-- WOW Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Message Conversation JS -->
        <script src="assets/js/conversation.js"></script>
        <!-- AjaxChimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Particles Min JS -->
        <script src="assets/js/particles.min.js"></script>
        <script src="assets/js/coustom-particles.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </body>
</html>